$govuk-assets-path: "/identify-your-sole-trader-business/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/identify-your-sole-trader-business/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}
.autocomplete__menu {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}